#body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    background-image: url(https://wallpapertag.com/wallpaper/full/7/9/b/342689-universe-background-1920x1080-ipad.jpg);
}

#include_area {
    margin-top: 50px;
}

.ul_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.li_nav {
    float: left;
}

.li_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li_nav a:hover {
    background-color: darkorange;
    text-decoration: none;
    color: white;
}

#searchbar {
    margin-top: 11px;
}

.img_store {
    width: 100%;
    height: auto;
}

#store_defined {
    background-color: #333;
    padding: 15px;
    margin: 5px;
    flex: 30%;
    border-radius: 15px;

}

.button_orange {
    padding:10px; /* Innenabstand der Schrift */
    width:90px; /* Breite des Buttons */
    height:22px; /* Höhe des Buttons */
    background:darkorange; /* Hintergrundfarbe */
    text-decoration: none;
    margin: 2px;
}
