body {
    height: 100%;
    background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#include_area {
    margin-top: 50px;
    padding: 10px;
    min-height: 500px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    padding: 0;
}

#logo {
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 8px;
}

.ul_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: auto;

}

.li_nav {
    float: left;
}

.li_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li_nav a:hover {
    background-color: darkorange;
    text-decoration: none;
    color: white;
}

#searchbar {
    margin-top: 11px;
}

#head_logo {
    height: 40px;
    widht: auto;
}

.img_store {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 1em;
}

#store_defined {
    background-color: #333;
    padding: 0px;
    margin: 5px;
    flex: 30%;
    border-radius: 15px;
}

#footer_defined {
    background-color: #333;
    border-radius: 15px;
}

.store_text {
    padding: 15px;
    text-align: justify;
}

.button_orange {
    background:darkorange;
    text-decoration: none;
    border-color: darkorange;
    color: white;
}

.schrift_orange {
    color: darkorange;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.log_window {
    border: solid #333;
    border-radius: 15px;
    padding: 10px;
    background-color: #333;
}

#beschreibung_store {
}

.carttable {
    cellpadding: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    background-color: white;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: #333;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
    color: white;
}
a.nav-link:hover {
    background-color: darkorange;
    text-decoration: none;
    color: white;
}

a.nav-link:focus{
    background-color: #161616;
    text-decoration: none;
    color: white;
}

.b_bg {
    background-image: radial-gradient(ellipse at bottom, #f4f2f3 0%, #f4f2f3 0%) !important;
}

h3 {
    color: #333;
}

.table_orders {color: #090a0f;
}

